version: '3.8'
env_file:
  - ./.env
services:
  server:
    build: ./server
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - PORT=${PORT}
    ports:
      - "${PORT:-3001}:${PORT:-3001}"

  nginx:
    image: nginx:stable
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - server
      - client

  client:
    build: ./client
    environment:
      - VITE_API_BASE=http://nginx:${PORT:-80}
    ports:
      - "5173:5173"
    depends_on:
      - server
