networks:
  tgxonet:
    driver: bridge

services:
  server:
    build:
      context: ./server
    volumes:
      - ./server:/app
      - server_node_modules:/app/node_modules
    env_file:
      - .env
    networks:
      - tgxonet
    command: npm run dev

  client:
    build:
      context: ./client
    volumes:
      - ./client:/app
      - client_node_modules:/app/node_modules
    env_file:
      - .env
    networks:
      - tgxonet
    command: npm run dev -- --host

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.dev.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "${NGINX_PORT}:80"
    depends_on:
      - client
      - server
    networks:
      - tgxonet

volumes:
  server_node_modules:
  client_node_modules:
