version: '3.8'
services:
  server:
    build:
      context: ./server
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - tgxonet

  client:
    build:
      context: ./client
    env_file:
      - .env
    restart: unless-stopped
    networks:
      - tgxonet

  nginx:
    image: nginx:1.25-alpine
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "${NGINX_PORT:-80}:80"
    depends_on:
      - client
      - server
    restart: unless-stopped
    networks:
      - tgxonet

networks:
  tgxonet:
    driver: bridge
