version: '3.8'
services:
  server:
    image: node:18
    env_file:
      - ./.env
    working_dir: /app
    volumes:
      - ./server:/app
      - /app/node_modules
    ports:
      - "${PORT:-3001}:${PORT:-3001}"
    command: sh -c "npm install && npm run dev"

  client:
    image: node:18
    working_dir: /app
    env_file:
      - ./.env
    volumes:
      - ./client:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host"
    depends_on:
      - server
  nginx:
    image: nginx:stable
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - server
      - client
