version: '3.8'
services:
  server:
    build: ./server
    environment:
      - BOT_TOKEN=${BOT_TOKEN}
      - CHAT_ID=${CHAT_ID}
      - PORT=3001
    ports:
      - "3001:3001"

  client:
    build: ./client
    environment:
      - VITE_API_BASE=http://server:3001
    ports:
      - "5173:5173"
    depends_on:
      - server
